/* .area-selector{
         position: relative;
          top: 5px;
          left:390px;
          top: px;
         width: 250px;
} */
.fex{
          display: flex;
          margin: 0;
}
.search-btn{
          display: flex;
}
.doc-place{
          margin: 25px 15px 0 55px ;
}